
img.thumbnailHuge{
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

div.listImagesContainer div.imageInfo a{
  position: absolute;
  top: 30%;
  font-size: 18px;
}

div.listImagesContainer div.imageElement{
  min-height: 30px;
  border-bottom: 1px dotted #e4e4e4;
  position: relative;
}


div.listImagesContainer div.imageDate{
  position: absolute;
  bottom: 35%;
  right:0px;
  color: grey;
  font-size: 15px;
}

div.listImagesContainer div.feedUserImage{
  float:left;
}
